@font-face {
  font-family: 'RobotoMono';
  src: ('./fonts/RobotoMono-Thin.ttf')
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, rgb(218, 210, 153), rgb(176, 218, 185));
}
